.component2-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.component2-image {
  width: 73px;
  height: 67px;
  object-fit: cover;
}
.component2-text {
  color: var(--dl-color-scheme-green100);
  font-size: 23px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  line-height: 3;
  padding-left: var(--dl-space-space-unit);
  text-transform: capitalize;
}
.component2-root-class-name {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.component2-root-class-name1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.component2-root-class-name2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.component2-root-class-name3 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}

.assistente-ai-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.assistente-ai-container1 {
  width: 243px;
  height: 1000px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #dfd1b3;
}
.assistente-ai-image {
  top: 76px;
  left: 23px;
  width: 49px;
  height: 68px;
  position: absolute;
  object-fit: cover;
}
.assistente-ai-view {
  top: 82px;
  left: 13px;
  width: 70px;
  height: 69px;
  position: absolute;
  text-decoration: none;
}
.assistente-ai-container2 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.assistente-ai-text2 {
  top: 91px;
  left: 104px;
  position: absolute;
  font-size: 35px;
}
.assistente-ai-input {
  width: 500px;
  height: 75px;
  display: block;
}
.assistente-ai-button {
  background-color: beige;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  margin-top: 35px;
  cursor: pointer;
}
.left-col-pro {
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 15px;
  padding-top: 15px;
  white-space: nowrap;
  font-size: 30px;
  color: #0c4237;
  border-bottom: 1px #0c4237 solid;
}

@media (max-width: 1600px) {
  .assistente-ai-container {
    align-items: flex-start;
  }
  .assistente-ai-textarea {
    margin-top: 50px;
    width: 500px;
    height: 150px;
    display: block;
  }
  .assistente-ai-text {
    font-size: 30px;
    margin-top: 190px;
    text-decoration: underline;
  }
  .assistente-ai-text1 {
    font-size: 30px;
    margin-top: var(--dl-space-space-threeunits);
    text-decoration: underline;
  }
  .assistente-ai-input {
    width: 500px;
    height: 75px;
    display: block;
  }
  .assistente-ai-text3 {
    font-size: 23px;
    margin-top: 0px;
  }
  .assistente-ai-text4 {
    right: 277px;
    bottom: 656px;
  }
}
@media (max-width: 1200px) {
  .assistente-ai-text1 {
    top: 280px;
    left: 26px;
  }
  .assistente-ai-text3 {
    margin-top: var(--dl-space-space-oneandhalfunits);
  }
}
.headerLeft {
  width: 50%;
  height: 75px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: left;
}

.headerRight {
  width: 50%;
  height: 75px;
  background-color: white;
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: right;
}

.component2-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.component2-image {
  width: 73px;
  height: 67px;
  object-fit: cover;
}

.perfil-header {
  color: var(--dl-color-scheme-green100);
  font-size: 23px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  line-height: 3;
  padding-right: 20px;
  text-transform: capitalize;
}

.vetsos-header {
  color: var(--dl-color-scheme-green100);
  font-size: 23px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  line-height: 3;
  padding-left: 80px;
  text-transform: capitalize;
}

.component2-text {
  color: var(--dl-color-scheme-green100);
  font-size: 23px;
  align-self: center;
  font-style: normal;
  font-weight: 700;
  line-height: 3;
  padding-left: var(--dl-space-space-unit);
  text-transform: capitalize;
}
.component2-root-class-name {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.component2-root-class-name1 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.component2-root-class-name2 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}
.component2-root-class-name3 {
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
}

.pgina-animais-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.pgina-animais-container01 {
  width: 243px;
  height: 1000px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.pgina-animais-image {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.pgina-animais-view {
  display: inline-block;
  border: 2px solid #000;
  border-radius: 50%;
  padding: 5px;
  margin-right: 50px;
}
.pgina-animais-container02 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-right: 75%;
  border-top-right-radius: 30%;
  border-bottom-right-radius: 15%;
  background-color: beige;
}
.pgina-animais-text2 {
  top: 91px;
  left: 104px;
  position: absolute;
  font-size: 35px;
  color: white;
}
.pgina-animais-container03 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  place-items: center;
  height: 100vh;
  width: 100%; /* Adjust as needed */
  margin-left: 110%;
  white-space: nowrap;
}
.pgina-animais-container04 {
  width: 951px;
  height: 286px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.pgina-animais-container05 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pgina-animais-container06 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pgina-animais-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pgina-animais-container08 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pgina-animais-container09 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pgina-animais-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pgina-animais-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.pgina-animais-text3 {
  margin-top: 30px;
  margin-right: 40px;
  white-space: nowrap;
  font-size: 36px;
  text-transform: capitalize;
  color: beige;
}
.pgina-animais-container12 {
  flex: 0 0 auto;
  width: auto;
  height: 38px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pgina-animais-container13 {
  flex: 0 0 auto;
  width: auto;
  height: 38px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.pgina-animais-image1 {
  width: 200px;
  object-fit: cover;
}
@media (max-width: 1600px) {
  .pgina-animais-container01 {
    width: 243px;
  }
  .left-col-perf {
    display: inline-block;
    margin-top: 200px;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 100px;
    font-size: 30px;
    color: #0c4237;
    border-top: 1px #0c4237 solid;
    border-bottom: 1px #0c4237 solid;
  }
  .left-col-ai {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    white-space: nowrap;
    font-size: 30px;
    color: #0c4237;
    border-bottom: 1px #0c4237 solid;
    background-color: rgb(0 255 255 / 30%);
  }
  .left-col-ani, .left-col-rec {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 30px;
    color: #0c4237;
    white-space: nowrap;
    border-bottom: 1px #0c4237 solid;
  }
  .left-col-prof {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 30px;
    color: #0c4237;
    white-space: nowrap;
    border-bottom: 1px #0c4237 solid;
  }
  .left-col-enc {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 30px;
    color: #0c4237;
    white-space: nowrap;
    border-bottom: 1px #0c4237 solid;
  }
  .pgina-animais-text1 {
    font-size: 30px;
    margin-top: var(--dl-space-space-threeunits);
    text-decoration: underline;
    color: white;
  }
  .pgina-animais-container04 {
    top: 0px;
    left: 0px;
    height: 779px;
    align-items: flex-start;
    margin-bottom: 77px;
    flex-direction: column;
    padding-bottom: 0px;
    justify-content: center;
  }
  .pgina-animais-container05 {
    position: relative;
  }
  .pgina-animais-container07 {
    position: relative;
  }
  .pgina-animais-text3 {
    margin-left: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .pgina-animais-textinput {
    width: 292px;
    height: 38px;
    margin-left: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .pgina-animais-image1 {
    width: 45px;
    height: 100%;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .pgina-animais-button {
    width: 400px;
    height: 73px;
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    color: 0c4237;
    border-color: white;
    background-color: beige;
  }
  .pgina-animais-button1 {
    width: 400px;
    height: 73px;
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    color: 0c4237;
    border-color: white;
    background-color: beige;
  }
  .pgina-animais-button2 {
    width: 400px;
    height: 73px;
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-twounits);
    color: 0c4237;
    border-color: white;
    background-color: beige;
  }
  .pgina-animais-text4 {
    width: 100%;
    margin-left: var(--dl-space-space-fourunits);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .pgina-animais-text5 {
    font-size: 40px;
  }
  .pgina-animais-text6 {
    font-size: 20px;
    color: black;
  }
}
@media (max-width: 1200px) {
  .pgina-animais-text1 {
    top: 280px;
    left: 26px;
  }
  .pgina-animais-container03 {
    position: relative;
  }
  .pgina-animais-container04 {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
  }
  .pgina-animais-text3 {
    font-size: 36px;
    margin-left: var(--dl-space-space-threeunits);
    text-transform: capitalize;
  }
  .pgina-animais-textinput {
    left: 31px;
    width: var(--dl-size-size-xxlarge);
    bottom: -147px;
    margin-left: var(--dl-space-space-twounits);
    border-width: 2px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .pgina-animais-image1 {
    top: 280px;
    left: 360px;
    width: 47px;
    height: 42px;
    position: absolute;
  }
}
